<section class="container mt-5">
    <div class="row align-items-center">
        <div class="col-md-4 offset-md-4">
            <div class="card h-100 border-0 p-4 bg-light justify-content-center">
                <h4 class="mb-3">Login</h4>
                <form [formGroup]="loginForm">
                    <div class="form-group">
                        <label for="EmailID" class="form-label">Email ID<sup class="v-required-sup">*</sup></label>
                        <input type="email" placeholder="Enter Email Address" formControlName="EmailID" maxlength="50"
                            id="EmailID" class="form-control" autocomplete="off">
                        <div class="form-feedback"
                            *ngIf="loginFormControls?.EmailID?.invalid && (loginFormControls.EmailID?.dirty || loginFormControls?.EmailID?.touched)">
                            <p class="mt-2 v-error" *ngIf="loginFormControls?.EmailID?.errors?.required">Please enter a
                                email id</p>
                            <p class="mt-2 v-error" *ngIf="loginFormControls?.EmailID?.errors?.pattern">Please enter a
                                valid email id</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="form-label">Password<sup class="v-required-sup">*</sup></label>
                        <input type="password" placeholder="Enter Password" formControlName="Password" minlength="6"
                            maxlength="40" id="password" class="form-control" autocomplete="new-password">
                        <div class="form-feedback"
                            *ngIf="loginFormControls?.Password?.invalid && (loginFormControls?.Password.dirty || loginFormControls?.Password?.touched)">
                            <p class="mt-2 v-error" *ngIf="loginFormControls?.Password?.errors?.required">Please enter a
                                password</p>
                        </div>
                    </div>
                    <div *ngIf="loginAlertMsg" class="row">
                        <div class="col-12 col-md-5">
                            <p class="v-error">{{loginAlertMsg}}</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-dark btn-semi-circle"
                            [disabled]="!loginForm.valid" (click)="userLogin()">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<app-dialog-popup [popupHeader]="'Information'" [popupModalId]="'loginDialog'" [popupMessage]="loginPopupMsg"
    [popupSuccessBtn]="'Ok'" (sucessEvt)="hideModalDialog('loginDialog')" (failureEvt)="hideModalDialog('loginDialog')">
</app-dialog-popup>

<app-loader [showLoader]="showLoader"></app-loader>