<header class="main-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">BookApp</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="mr-auto"></div>
            <div class="my-2 my-lg-0">
                <button class="btn btn-success my-2 btn-semi-circle mr-1" routerLink="/login">Login</button>
                <button class="btn btn-outline-success my-2 btn-semi-circle ml-1" routerLink="/register">Register</button>
            </div>
        </div>
    </nav>
</header>